* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #2e3238;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.app {
  position: relative;
  max-width: 430px;
}

.container_scores {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 90px;
  /* border: 1px solid #555; */
  margin-bottom: 50px;
}

.score_palyer {
  width: 100px;
  height: 70px;
  /* border: 1px solid #555; */
}

.player_marker,
.score_value {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #555; */
  color: rgb(189, 182, 182);
  font-size: 24px;
}

.score_value {
  font-size: 16px;
}


.playground_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 300px;
  height: 300px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  color: #bdb6b6;
  border: 1px solid #555;
}

.btn {
  position: absolute;
  top: 40px;
  left: 60px;
  padding: 10px 10px;
  background-color: transparent;
  color: rgb(189, 182, 182);
  border: 1px solid #555;
  margin-bottom: 30px;
}

.notifications {
  /* position: absolute;
  top: 150px; */
  width: 100%;
  height: 60px;
  font-size: 35px;
  text-align: center;
  padding: 10px 0;
  color: rgb(189, 182, 182);
  margin-bottom: 30px;
}

.winner_cell {
  background-color: rgb(63, 125, 44);
}


.container_toggle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.box_active_player_display {
  display: flex;
  width: 80px;
  border-radius: 20px;
  border: 1px solid rgba(128, 128, 128, .2);
  color: rgb(189, 182, 182);
}

.player_box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 22px;
  font-weight: 600;
}

.active_player_marker {
  background: rgb(162, 162, 162);
  color: rgb(70, 69, 69);
  transition: .3s;
}